{% extends 'base.html' %}

{% block title %}
{{composer['complete_name']}}'s Works
{% endblock %}

{% block content %}
<h1>{{composer['complete_name']}}'s works</h1>
<!-- 
  composer: id, epoch, complete_name
  works: id, title, genre 
-->
{% if works %}
<div id="works-list">
  <ul id="works">
    {% for title in works %}
    <li>
      <form name="addToPlaylist" action="/addfavorite/{{title['id']}}">
        {{title['title']}} - {{title['genre']}}
        <div class="right">
          <button>Add to playlist</button>
        </div>
      </form>
    </li>
    {% endfor %}
  </ul>
</div>
{% endif %}
{% endblock %}