{% extends 'base.html' %}

{% block title %}
{{composer['complete_name']}}'s Works
{% endblock %}

{% block content %}
<h1>{{composer['complete_name']}}'s works</h1>
<!-- 
  composer: id, epoch, complete_name
  works: id, title, genre 
-->
{% if works %}
<div id="works-list">
  <ul id="works">
    {% for title in works %}
    <li>
      {{title['title']}} - {{title['genre']}}
      <button id="{{works.index(title)}}">Add to playlist</button>
    </li>
    {% endfor %}
  </ul>
</div>
{% endif %}
{% endblock %}