{% extends 'base.html' %}

{% block title %}
Search
{% endblock %}

{% block content %}

<h1>Search for classical music</h1>

<form id="search-form" action="/searchname" methods="POST">
  <label for="search"></label>
  <input id="search" type="text" name="search" placeholder="Composer name">
  <button>Search</button>
</form>
{% if info %}
<div id=composer-list>
  <ul id="composers">
    {% for name in info %}
    <li><a href="/composer/{{name['id']}}" id="{{name['id']}}">{{name['complete_name']}}</a></li>
    {% endfor %}
  </ul>
</div>
{% endif %}
{% endblock %}