{% extends 'base.html' %}

{% block title %}
Sign up!
{% endblock %}

{% block content %}

<h1>Sign Up</h1>
<h2>Tune in to your personal Chopin Liszt!</h2>
<div id="signup">
  <form method="POST" id="user_form">
    {{ form.hidden_tag() }}

    {% for field in form if field.widget.input_type != 'hidden' %}
    {% for error in field.errors %}
    <span class="text-danger">{{ error }}</span>
    {% endfor %}
    {{ field(placeholder=field.label.text, class="form-control") }}
    {% endfor %}

    <button>Tune in!</button>
  </form>
</div>

{% endblock %}